html,
body {
  background-color: #df9af7;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* Karl: Disabled error screen due to hydration issues in libraries used (the solana-react-adapter library has lazy-ass maintainers). 
This is a bad idea for actual non-demo purposes so please remove this when using in actual development contexts. */
nextjs-portal { 
  display: none;
}

.shadow-box{
  box-shadow: -12px 12px black, -12px 12px 0 1px #10162f;
  border-radius: 5px;
}